node_modules/
dist/
build/
coverage/
.vite/
.next/
public/
storybook-static/
cypress/videos/
cypress/screenshots/
*.config.js
*.config.ts
*.d.ts
.eslintcache
**/generated/**
**/prisma/**
**/migrations/**
tmp/
archive/
backups/
